html {
    background: #b3b3b3;
    padding: 15px;
    border: 5px solid white;
    margin: 15px;
    height: 2000px;
}

body {
    background: #fa923f;
    padding: 20px;
    border: 5px solid black;
    margin: 0;
  }
  
.parent {
    background: white;
    padding: 20px;
    border: 5px solid black;
    margin: 0;
    /* overflow: hidden; */
    position: relative;
    top: 200px;
  }
  
.parent div {
    background: rgb(105, 105, 109);
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
}

/* .parent .child-1 {
    position: fixed;
    width: 400px;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box
} */

/* .parent .child-1 {
  position: relative;
  left: 0;
  top: 180px;
} */